/* General Styles for Navbar */
.home-nav-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.home-nav-header h1 {
  font-size: 2rem;
  color: white;
}

.home-nav-header .header-text-right {
  margin-left: auto;
}

.home-navbar-toggler {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  z-index: 20;
}

.bar {
  background-color: white;
  width: 100%;
  height: 4px;
  margin: 5px 0;
}

/* Navbar items for small screens */
.home-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.home-nav-item {
  margin: 0 20px;
}

.home-nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.home-nav-link:hover {
  color: #00bcd4;
}

/* For small screens, hide the nav items by default */
.home-nav.d-none {
  display: none;
}

/* Show the nav items in a column when the menu is open */
.home-nav.d-flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 10;
}

.home-nav-item {
  margin: 15px 0;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 100vh;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-text-overlay {
  position: absolute;
  z-index: 10;
}

.hero-header {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-subheader {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
}

.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

/* Remove zoom hover effect */
.hero-image:hover {
  transform: none; /* Remove zoom effect */
}

/* Responsive Styles for small screens */
@media (max-width: 992px) {
  .home-nav-header h1 {
    font-size: 1.5rem;
  }

  .home-nav-header .header-text-right {
    margin-left: auto;
  }

  .home-nav-header {
    background-color: rgba(51, 51, 51, 0.7); 
  }

  .home-nav {
    display: none;
  }

  .home-nav.d-flex {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(51, 51, 51, 0.7); 
    width: 100%;
    padding: 20px;
  }

  /* Hamburger icon */
  .home-navbar-toggler {
    display: flex;
  }

  .hero-header {
    font-size: 2rem;
  }

  .hero-subheader {
    font-size: .8rem;
  }

  .hero-description {
    font-size: .8rem;
  }
}
